* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gerbera", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
img {
  width: 100%;
  object-fit: contain;
}
a {
  text-decoration: none;
}