.header {
  padding-top: 25px;
  margin-bottom: 205px;
  &-contacts {
    font-size: 18px;
    line-height: 28.8px;
    text-align: center;
    a {
      color: $gray;
    }
  }
  &-all {
    padding-top: 50px;
    margin-bottom: 560px;
  }
  &-logo-big {
    max-width: 410px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  .header {
    .container {
      flex-direction: column;
    }
  }
}